<!DOCTYPE HTML>
<html ng-app="runGenerator">
<head>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/styles.css">
      <link rel="shortcut icon" href="img/jumbotufts.gif">
      <title>Add a Run</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src='js/bootstrap.min.js'></script>
      <script src="js/core.js"></script>
</head>
<body ng-controller="addRunController">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Run Generator</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/choose-run">Choose a Run</a></li>
              <li><a href="/add-run">Add a Run</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div align="center">
        <h1>Add a New Run</h1>
        <form>
          <table>
            <tr><td>Run Name:</td> <td><input name="name" size="25" ng-model="Run.name" required></td> </tr>
            <tr><td>Gantcher Distance:</td><td><input name="gdist" size="5" ng-model="Run.gdist" required></td>      </tr>
            <tr><td>Baronian Distance:</td><td><input name="bdist" size="5" ng-model="Run.bdist" required></td>      </tr>
            <tr><td>Route Map URL:    </td><td><input name="url"   size="35" ng-model="Run.url" required></td>      </tr>
            <tr><td>                  </td><td><i>Requires gmap-pedometer or favoriterun</i></td></tr>
            <tr><td>Description:      </td><td><textarea name="desc" style="resize:none;" ng-model="Run.desc" rows=4 cols=50 required></textarea></td></tr>
            <tr><td>                  </td><td><i>(i.e. terrain, hilliness, bathroom availability, etc.)</i></td></tr>
          </table>
          <br><br>
          <button ng-show="Run.name != null && Run.gdist > 0 && Run.bdist > 0 && Run.url != null && Run.desc != null" ng-click="addRun()" type="submit">Submit</button>
        </form>
      </div>

      <div align="center">
        <h3 ng-show="newrun">Success! {{ newrun.name }} was added to the database!</h3>
        <h3 ng-show="exists" ng-repeat="exist in exists | limitTo: 1">Sorry! {{ exist.name }} already exists.</h3>
        <h3 ng-show="err">Error! Bad parameters. Could not add {{ err.name }}.</h3>
      </div>
</body>
</html>