<!DOCTYPE HTML>
<html ng-app="runGenerator">
<head>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/styles.css">
      <link rel="shortcut icon" href="img/jumbotufts.gif">
      <title>Choose a Run</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src='js/bootstrap.min.js'></script>
      <script src="js/core.js"></script>
</head>
<body ng-controller="chooseRunController">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Run Generator</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/choose-run">Choose a Run</a></li>
              <li><a href="/add-run">Add a Run</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div align="center">
            <h1>Choose a Run</h1>
            <form>
                  <table>
                        <tr>
                              <td align="right">Where are you running from?</td>
                              <td><input type="radio" name="location" value="Gantcher" ng-model="Input.location" required>  Gantcher<br>
                                  <input type="radio" name="location" value="Baronian" ng-model="Input.location" required>  Baronian</td>
                        </tr>
                        <tr>
                              <td align="right">How far do you want to run?</td>
                              <td><input name="dist" size="5" ng-model="Input.dist" required></td>
                        </tr>
                        <tr>
                              <td align="right">Give or take...</td>
                              <td><select name="range" ng-model="Input.range" required>
                                    <option value="0">0 miles</option>
                                    <option value="0.5">0.5 miles</option>
                                    <option value="1">1 mile</option>
                                    <option value="2">2 miles</option>
                                    <option value="3">3 miles</option></select>
                              </td>
                        </tr>
                  </table>
                  <button ng-show="Input.location != null && Input.dist > 0 && Input.range >= 0" ng-click="chooseRun()" type="submit">Submit</button>
            </form>
            <br>
            <h4 ng-show="err">Error! Bad parameters</h4>
            <h4 ng-show="runs && results.range > 0 && results.dist-results.range >= 0">{{ results.dist - results.range }} to {{ results.dist -- results.range }} mile run from {{ results.location }}</h4>
            <h4 ng-show="runs && results.range > 0 && results.dist-results.range < 0">0 to {{ results.dist -- results.range }} mile run from {{ results.location }}</h4>
            <h4 ng-show="runs && results.range == 0">{{ results.dist }} mile run from {{ results.location }}</h4>
            <h4 ng-show="runs.length == 1">{{ runs.length }} Result Found</h4>
            <h4 ng-show="runs && runs.length != 1">{{ runs.length }} Results Found</h4>
            <table align="center" class="routes">
                <tr ng-show="runs.length > 0">
                    <th>Route Name</th>
                    <th ng-show="results.location=='Gantcher'">From Gantcher</th>
                    <th ng-show="results.location=='Baronian'">From Baronian</th>
                    <th>Route Map</th>
                    <th>Description</th>
                </tr>
                <tr ng-repeat="run in runs">
                    <td>{{ run.name }}</td>
                    <td ng-show="results.location=='Gantcher'">{{ run.gdist }} mi</td>
                    <td ng-show="results.location=='Baronian'">{{ run.bdist }} mi</td>
                    <td><a href="{{ run.url }}" target="_blank">Map</a></td>
                    <td>{{ run.desc }}</td>
                </tr>
            </table>
            <br>
      </div>
</body>
</html>